projects/Humbug/XSD/project.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<!ELEMENT project ((folder))>
<!ATTLIST project
	name CDATA #FIXED "Pumpernickel"
>
<!ELEMENT folder ((file))>
<!ATTLIST folder
	name CDATA #FIXED "Zutaten"
	type CDATA #FIXED "Standard"
>
<!ELEMENT file EMPTY>
<!ATTLIST file
	name CDATA #FIXED "Teig"
>
