projects/Humbug/src/content/AssetList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by Venom (ICO) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="rowset">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="row" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="assets"/>
						<xs:enumeration value="contents"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="key" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="itemID"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="columns" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="row">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rowset" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="typeID" type="xs:short" use="required"/>
			<xs:attribute name="singleton" type="xs:byte" use="required"/>
			<xs:attribute name="quantity" type="xs:int" use="required"/>
			<xs:attribute name="locationID" type="xs:int"/>
			<xs:attribute name="itemID" type="xs:unsignedLong" use="required"/>
			<xs:attribute name="flag" type="xs:byte" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rowset"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="eveapi">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="currentTime"/>
				<xs:element ref="result"/>
				<xs:element ref="cachedUntil"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:byte" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="currentTime" type="xs:string"/>
	<xs:element name="cachedUntil" type="xs:string"/>
</xs:schema>
